.OrderViewComponent-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

.OrderViewComponent-heading {
    font-size: 2.5rem;
    font-weight: 600;
}

.OrderViewComponent-download-invoice {
    font-size: 1.3rem;
    font-weight: normal;
    color: rgb(103, 133, 216);
    padding: 0;
    margin: 1rem 0;
}

.OrderViewComponent-order-date-container {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.OrderViewComponent-sub-heading {
    font-size: 1.6rem;
    font-weight: 600;
}

.OrderViewComponent-delivery-address {
    font-size: 1.3rem;
}

.OrderViewComponent-delivery-address>p {
    font-size: 1.4rem;
    font-weight: 600;
    color: grey;
}

.OrderViewComponent-delivery-address>address {
    width: 50%;
}

.OrderViewComponent-delivery-address>span {
    font-size: 1.4rem;
    font-weight: 500;
}

.OrderViewComponent-payment-method {
    font-size: 1.3rem;
    font-weight: 600;
    color: grey;
}

.OrderViewComponent-order-summary-container {
    width: 20rem;
    border: 1px solid #afafaf;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 10rem;
}

.OrderViewComponent-order-summary-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.OrderViewComponent-order-summary-wrapper>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    padding: .5rem;
}

.OrderViewComponent-order-summary-wrapper>div:last-child {
    font-weight: 600;
}