.title-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.horizontal-line {
    border: 2px solid rgb(182, 55, 55);
    width: 5rem;
    margin: 1rem;
}

.title-wrapper>h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}
.title-wrapper>p {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}