.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 1rem;
    padding: .5rem 1rem;
}

.search-input {
    border: none;
    outline: none;
}

.search-container-button {
    display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 900px) {
    .search-box {
        display: none;
    }

    .search-container-button {
        display: block;
    }
}