header {
    position: sticky;
    top: 0;
    background-color: #FEFEFE;
    z-index: 10;
}

.header-wrapper {
    padding: 2rem 5rem;
    box-shadow: 1px 1px 10px 1px #cfcfcf;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-item {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-item:hover {
    color: rgb(187, 77, 77);
}

.active {
    color: rgb(187, 77, 77);
}

.nav-action-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav-action-btn {
    position: relative;
}

.nav-action-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    border: 1px solid;
    height: 1.5rem;
    width: 1.5rem;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}