.header-container{
  padding: 0 2rem;
}

.header {
  padding-block: 15px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.company-logo {
  flex: 1;
}

.logo-name {
  padding: 0;
  margin: 0;
  color: var(--eerie-black);
  cursor: pointer;
}

.nav {
  flex: 2;
}

.nav-list {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-list-item {
  list-style-type: none;
  cursor: pointer;
}

.nav-list-item a {
  text-decoration: none;
  color: var(--eerie-black);
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.nav-list-item a:hover {
  color: var(--middle-blue-green);
  text-decoration: underline;
}

.action-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.header-search {
  display: block;
  position: relative;
  width: max-content;
}

.header-search .input-field {
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  width: 240px;
  padding: 12px 20px;
  border-radius: 6px;
  transition: 0.25s ease;
  font: inherit;
}

.header-search .input-field:focus {
  outline: 1px solid var(--eerie-black);
}

.header-search .search-btn {
  position: absolute;
  top: 60%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--eerie-black);
}

.header-search .search-btn ion-icon {
  --ionicon-stroke-width: 30px;
}

.action-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn-container button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.action-btn-container button span{
    font-size: 14px;
}