.product-list-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 3rem;
}

.product-list-filter {
    flex: 1;
}

.product-list-products {
    flex: 1;
}

.productDetails-image-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.productDetails-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.productDetails-image-wrapper-innerimg {
    height: 100%;
    width: 70%;

}

.productDetails-header {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
}

.productDetails-header-price {
    font-size: 2rem;
    font-weight: 500;
}

.productDetails-header-tag {
    font-size: 1.4rem;
    font-weight: 500;
    color: green;
}

.productDetails-header-colors {
    display: flex;
}

.productDetails-header-label {
    font-size: 1.5rem;
    font-weight: 500;
    color: #3b3b3b;
}

.productDetails-padding-bottom {
    padding-bottom: 1rem;
}

.size-placeholder-button {
    width: 4rem;
    height: 4rem;
    border: 1px solid rgb(207 207 207);
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-placeholder {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #3b3b3b;
}

.productDetails-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.productDetails-button {
    width: 4rem;
    height: 4rem;
    border: 1px solid rgb(207 207 207);
    margin: .5rem;
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productDetails-wishlist-button {
    width: 22rem;
    border: 1px solid rgb(207 207 207);
    margin: .5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 1.8rem;
    color: grey;
}

.productDetails-addtocart-button {
    width: 22rem;
    border: 1px solid rgb(207 207 207);
    margin: .5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 1.8rem;
    color: white;
    background-color: #bb4d4d;
}