:root {
  /**
   * colors
   */

  --middle-blue-green: hsl(176, 35%, 63%);
  --sonic-silver: hsl(0, 0%, 44%);
  --eerie-black: hsl(0, 0%, 9%);
  --ocean-green: hsl(148, 45%, 58%);
  --candy-pink: hsl(356, 65%, 63%);
  --cultured: hsl(0, 0%, 96%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

.container {
  max-width: 550px;
  margin-inline: auto;
}

button {
  background: none;
  border: none;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ion-icon {
  font-size: 22px;
  margin-bottom: 3px;
}

@media (min-width: 480px) {
  .container {
    max-width: 1150px;
  }
}

@media (min-width: 580px) {
  .container {
    max-width: 550px;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}


.margin-top {
  margin-top: 4rem;
}

.margin-bottom {
  margin-bottom: 4rem;
}

.padding-top {
  padding-top: 4rem;
}

.padding-bottom {
  padding-bottom: 4rem;
}