.sidebar-container {
    margin: 2rem 1rem 1rem 1rem;
}

.siderbar-body {
    margin-top: 1rem;
}

.siderbar-body-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid grey;
}

.category-heading {
    font-size: 1.5rem;
    margin: 5px 0px;
    padding: 0px;
    font-weight: 300;
}

.siderbar-body-wrapper {
    width: 100%;
}

.siderbar-list {
    margin-left: 2rem;
}

.siderbar-list-item {
    list-style: square;
    font-size: 1.2rem;
    padding: .5rem;
}

/* Price range */

.price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}

.price-input .field {
    display: flex;
    height: 45px;
    align-items: center;
}

.price-label {
    font-size: 1.5rem;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 2px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.slider .progress {
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: #bb4d4d;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    left: -2px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #bb4d4d;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #bb4d4d;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}




/* Checkbox styles */
/* Hide the default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 5px;
}

.checkbox-container {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    border-radius: 5px;
    box-shadow: 2px 2px 0px rgb(183, 183, 183);
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
    transition: all 0.2s;
    opacity: 1;
    background-color: #bb4d4d;
}

.checkbox-container input~.checkmark {
    transition: all 0.2s;
    opacity: 1;
    box-shadow: 1px 1px 0px rgb(183, 183, 183);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
    opacity: 1;
    transition: all 0.2s;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

.checkbox-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
}

.checkbox-label-text {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/* filter color */
.color-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.color-placeholder {
    width: 3rem;
    height: 3rem;
    margin: .5rem;
    position: relative;
}

.color-item-wrapper {}

.color-placeholder>ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}